@import './variables.scss';

.container {
    min-height: 300px;
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem 3rem 0;
    color: #191919;
    font-weight: 300;

    h1 {
        font-weight: 300;
        margin: 0 0 2rem -7px;
    }
}

.contentCard {
    background: #edf5fa;
    padding: 3rem;
    line-height: 25px;
}

@media (max-width: 599px) {
    .container {
        padding: 2rem 2rem 0;
    }
    .contentCard{
        padding: 1rem;
    }
}