@import './variables.scss';

.contact {
    background: white;
}
.container {
    min-height: 300px;
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem;
    color: #191919;
    font-weight: 300;

    h1 {
        font-weight: 300;
        margin: 0 0 2rem -7px;
    }
}


@media (max-width: 599px) {
    .container {
        padding: 2rem 2rem 0;
    }
}